.blue-button {
    display: inline-block;
    height: 30px;
    width: 95%;
    max-width: 300px;
    margin: 5px auto 5px;
    background-color: rgba(111,176,199);
    padding-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 3px solid rgba(111,176,199);
    font-size: 20px;
    color: #fff;
    transition: 300ms;
    vertical-align: top;
    cursor: pointer;
}

.blue-button-disable {
    height: 50px;
    width: 95%;
    margin: 5px auto;
    background-color: rgba(111, 175, 199, 0.384);
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 3px solid #fff;
    font-size: 28px;
    color: #fff;
    transition: 300ms;
    vertical-align: bottom;
    cursor: not-allowed;
}


.white-button {
    height: 40px;
    width: 95%;
    margin: 5px auto;
    background-color: #fff;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 3px solid #fff;
    font-size: 20px;
    color: rgba(111,176,199);
    transition: 300ms;
    cursor: pointer;
}

.white-button-disable {
    height: 40px;
    width: 95%;
    margin: 5px auto;
    background-color: #fff;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 3px solid #fff;
    font-size: 20px;
    color: #ccc;
    transition: 300ms;
    cursor: not-allowed;
}

.white-button:hover {
    background-color: rgba(111,176,199);
    color: #fff;
}

.blue-button:hover {
    background-color: #fff;
    color: rgba(111,176,199);
}

.socialmedia-button {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 35px;
    background-color: rgba(111,176,199);
    height: 70px;
    width: 70px;
    margin: 5px;
    transition: 300ms;
    z-index: 100;
    cursor: pointer;
}

.icon-icon {
    margin: auto;
    color: white;
    margin-top: 14px;
    height: 60%;
    width: 60%;
    vertical-align: top;
}

.socialmedia-button:hover {
    background-color: rgba(111, 175, 199, 0.589);
}

@media screen and (max-width: 400px) {
    .blue-button {
        font-size: 16px;
        height: 30px;
        padding-top: 8px ;
        border: 2px solid rgba(111,176,199);
        vertical-align: top;

    }
    .white-button {
        font-size: 16px;
        height: 25px;
        padding-top: 6px ;
        border: 3px solid #fff;

    }

    .icon-icon {
        margin: auto;
        color: white;
        margin-top: 10px;
        height: 60%;
        width: 60%;
        vertical-align: top;
    }

    .socialmedia-button {
        display: inline-block;
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-radius: 35px;
        background-color: rgba(111,176,199);
        height: 50px;
        width: 50px;
        margin: 5px;
        transition: 300ms;
        cursor: pointer;
    }
}