.App {
  text-align: center;
  background-color: #1662AD;
  min-height: 100vh;
}

.para {
  max-width: 900px;
  margin: auto;
  text-align: left;
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  transition: 0.5s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width:950px) {
  .para {
    font-size: 20px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
